<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style>
        #content {
            margin-top: 70px;
        }

        /*#content , #foot {
            filter: alpha(opacity=60);
            -moz-opacity: 0.6;
            -khtml-opacity: 0.6;
            opacity: 0.6;
        }*/
    </style>
</head>
<body style="background-image:url('../../Img/psbIDNAYJ0C.jpg')">
    <div>
        <nav class="navbar navbar-default">
            <div class=" container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="" src="~/Img/logo.png" class="nav-bar" style="margin-top:-15px;">
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="content" style="width:100%; float:left;">
        @RenderBody()
    </div>
    <div id="foot" style="text-align:center; text-align: center; font-size: 14px; height: 100px; padding-top: 30px; width: 100%;">
        <div>
            <a style=" font-size: 14px; color: white; text-decoration: none; margin-left: 10px; margin-top: 60px;" href="javascritp:void(0)">
                关于鸟人博客
            </a>
            <a style="font-size: 14px; color: white; text-decoration: none; margin-left: 10px; margin-top: 60px;" href="javascritp:void(0)">招贤纳士 </a>
            <a style="font-size: 14px; color: white; text-decoration: none; margin-left: 10px; margin-top: 60px;" href="javascritp:void(0)">网站地图</a>
            <a style="font-size: 14px; color: white; text-decoration: none; margin-left: 10px; margin-top: 60px;" href="javascritp:void(0)">广告业务</a>
            <a style="font-size: 14px; color: white; text-decoration: none; margin-left: 10px; margin-top: 60px;" href="javascritp:void(0)">联系我们</a>
            <a style="font-size: 14px; color: white; text-decoration: none; margin-left: 10px; margin-top: 60px;" href="javascritp:void(0)">意见反馈 </a>
            <a style="font-size: 14px; color: white; text-decoration: none; margin-left: 10px; margin-top: 60px;" href="javascript:void(0)">京ICP备14046574号-1 </a>
        </div>
        <div style="margin-top:10px;">
            <a style="font-size: 14px; color: white;  text-decoration: none; margin-left: 10px; margin-top: 60px;" target="_blank" href="http://www.microsoftvirtualacademy.com/">微软虚拟学院 </a>
            <a style="font-size: 14px; color: white;  text-decoration: none; margin-left: 10px; margin-top: 60px;" target="_blank" href="http://www.51cto.com">51CTO</a>
            <a style="font-size: 14px; color: white;  text-decoration: none; margin-left: 10px; margin-top: 60px;" target="_blank" href="http://www.csdn.net">CSDN </a>
            <a style="font-size: 14px; color: white;  text-decoration: none; margin-left: 10px; margin-top: 60px;" target="_blank" href="http://www.cnblogs.com/">博客园</a>
            <a style="font-size: 14px; color: white;  text-decoration: none; margin-left: 10px; margin-top: 60px;" target="_blank" href="http://www.oschina.net/">开源中国</a>
            <a style="font-size: 14px; color: white;  text-decoration: none; margin-left: 10px; margin-top: 60px;" target="_blank" href="https://github.com/">GIT</a>
        </div>
    </div>
    <div style="clear:both"></div>
</body>
</html>
<script>
    $('#content').css("min-height", window.innerHeight - 222);
    $(function () {
        $('#reg_Pwd').keypress(function () {
            $('#reg_Pwd_Hidden').val($.md5($('#reg_Pwd').val()));
        });
        $('#regBtn').click(function () {
            var userBase = new Array();
            userBase[0] = $('#userName').val();
            userBase[1] = $('#email').val();
            userBase[2] = $('#reg_Pwd').val();
            userBase[3] = $('#reg_Pwd_Hidden').val();
            $.cookie("userBase", userBase);
            window.location = "/Reg/RegUp";
        });
        
        $('#log_paw').keypress(function () {
            $('#paw').val($.md5($("#log_paw").val()));
        });
        if($('title').text()!="鸟人博客"){
            $('body').css('background-image', 'url("../../Img/bk2.jpg")');
            $('#foot>div>a').css('color', 'black');
        }
        else {
            $('body').css('background-image', 'url("../../Img/psbIDNAYJ0C.jpg")');
        }
    });
</script>