<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style>
        #content {
            margin-top: 70px;
        }
    </style>
</head>
<body class="RegBackGround">
    <div>
        <nav class="navbar navbar-default">
            <div class=" container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="" src="~/Img/logo.png" class="nav-bar" style="margin-top:-15px;">
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="content" style="width:100%; float:left;">
        @RenderBody()
    </div>
</body>
</html>